/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

h1.title {
  color: #575757 !important;
}

.reveal .slide .your-turn {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #FF7518;
  background-color: #FCD299;
}

.reveal .slide .our-turn {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #5A799D;
  background-color: #5A799D50;
}

.center-align {
  text-align: center;
}

$code-block-bg: white;

/* Diapositivas de tipo Ejercicio */

.reveal .slides section.ejercicio {
  background-color: #009bba; // azul
  color: #ffffff;

  h1, h2, h3, h4 {
    color: #ffffff;
  }

  a {
    color: #93c5fd; // azul claro para links
  }

  code {
    background-color: rgba(255, 255, 255, 0.1);
    color: #e3fce6;
  }
}